# Object files
*.o
*.d
*.crf
*.ko
*.obj
*.elf
*.dep
*.htm
*.1st
*.lnp
*.axf
*.htm
*.lnp
*.map

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
Objects/
*.tmp
*.TMP

# vs
bin/
obj/
Debug/
Release/
*.suo
*.sdf
*.log
*.obj
*.tlog
*.mdf
*.ldf
*.opensdf
*.user
*.filters
*.ipch
*.bat